<mat-card class=" home mar-elevation-z2">
    <mat-card-title class="title">Criado por Nikolas junto com a </mat-card-title>
    <div class="container-dio">
        <img class="dio" src="assets/logo.svg" alt="logo">
    </div>
    <mat-card-content class="mat-card-content">
        <img class="logo" src="https://avatars.githubusercontent.com/u/63004311?v=4" alt="avatar">
        <p><a class="link-description" href="https://angular.io/" target="_blank">Angular v.13</a></p>
    </mat-card-content>
</mat-card>